<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="camera" type="fixed">
        <parent link="scara/ee_frame"/>
        <child link="scara/camera"/>
        <origin xyz="0 0 0.01" rpy="0 ${pi/2} 0"/>
    </joint>

    <link name="scara/camera">
    <visual>
        <geometry>
            <box size="0.1 0.1 0.1"/>
        </geometry>
        <material name="red"/>
    </visual>
    </link>


    <joint name="camera_optical" type="fixed">
        <parent link="scara/camera" />
        <child link="scara/camera_optical" />
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
    </joint>

    <link name="scara/camera_optical"></link>

<gazebo reference="scara/camera">
  <sensor name="camera" type="camera">
    <camera>
    <optical_frame_id>scara/camera_optical</optical_frame_id>
    <horizontal_fov>2.094</horizontal_fov>
    <vertical_fov>2.094</vertical_fov>
    <image>
        <width>640</width>
        <height>400</height>
    </image>
    <clip>
        <near>0.1</near>
        <far>100</far>
    </clip>
    <focal_length>50</focal_length>
    </camera>
    <always_on>1</always_on>
    <update_rate>30</update_rate>
    <visualize>true</visualize>
    <topic>scara/image</topic>
    <enable_metrics>false</enable_metrics>
  </sensor>
</gazebo>


</robot>