<robot name="cible_simple">
  <link name="my_target_1">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz=" 0 0 0 "/>
      <geometry>
        <box size="0.2 0.8 0.2" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.2 0.8 0.2" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="my_target_1">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo>
    <static>true</static>
	</gazebo>
	
	
 <link name="my_target_2">
    <visual>
      <origin xyz=" 0 -0.3 0.2 "/>
      <geometry>
        <box size="0.2 0.2 0.3" />
      </geometry>
    </visual>
  </link>

  <gazebo reference="my_target_2">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo>
    <static>true</static>
	</gazebo>


  <joint name="joint2" type="fixed">
    <parent link="my_target_1"/>
    <child link="my_target_2"/>
  </joint>
  
</robot>
