<launch>

 <arg name="gui" default="true" />

    <!-- Generate/Load robot description file -->
    <include file="$(find integ_description)/launch/description.launch"/>

    <!-- Joint state publisher opens a GUI to manually input joint states -->
        <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Robot state publisher subscribe to joint states and publish "tf" transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Rviz to vizualize robot -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find integ_description)/launch/arm.rviz'" />

</launch>
