<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="camera" type="fixed">
        <parent link="scara/ee_frame"/>
        <child link="scara/camera"/>
        <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
    </joint>

    <link name="scara/camera">
    <inertial>
    <mass value="0.015"/>
    <inertia
    ixx="0.001"
    ixy="0.0"
    ixz="0.0"
    iyy="0.001"
    iyz="0"
    izz="0.001"/>
    </inertial>
    </link>

    <joint name="camera_optical" type="fixed">
        <parent link="scara/camera" />
        <child link="scara/camera_optical" />
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
    </joint>

    <link name="scara/camera_optical">
    <visual>
        <geometry>
            <cylinder length="0.1" radius="0.02"/>
        </geometry>
        <material name="blue"/>
    </visual>
        <visual>
            <origin xyz="0 0 0.05"/>
        <geometry>
            <cylinder length="0.02" radius="0.03"/>
        </geometry>
        <material name="blue"/>
    </visual>

        </link>

<gazebo reference="scara/camera">
  <sensor name="camera" type="camera">
    <camera>
    <optical_frame_id>scara/camera_optical</optical_frame_id>
    <horizontal_fov>1.047</horizontal_fov>
    <image>
        <width>640</width>
        <height>400</height>
    </image>
    <clip>
        <near>0.05</near>
        <far>100</far>
    </clip>
    </camera>
    <always_on>1</always_on>
    <update_rate>30</update_rate>
    <visualize>true</visualize>
    <topic>scara/image</topic>
    <enable_metrics>false</enable_metrics>
  </sensor>
</gazebo>


</robot>
